<!DOCTYPE html>
<html>
<!-- Modal -->
{% macro create_modal(title_label, button_label) %}
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
     aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">{{ title_label }}</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="input-group mb-3">
          <div class="input-group-prepend">
            <span class="input-group-text" id="addon-wrapping">#</span>
          </div>
          <input type="text" class="form-control" placeholder="channel name" aria-label="channel name"
                 aria-describedby="button-addon2">
          <div class="input-group-append">
            <button class="btn btn-outline-secondary" type="button" id="button-addon2" data-dismiss="modal">{{ button_label }}
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endmacro %}
</html>